:root {
    --bg-button: #1eff00;
    --border-button: solid 1px #00ffc8;
}

.button {
    font-size: 1em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--bg-button);
    border-bottom: var(--bg-button);
    outline: none;
}

.button:active {
    background-color: whitesmoke;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: yellow;
    color: rgb(255, 0, 0);
}

.button.operation:active {
    background-color: tomato;
}