.calculator {
    height: 240px;
    width: 190px;
    border-radius: 7px;
    overflow: hidden;
    background-color: red;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 36px 36px 36px 36px 36px;

}