@font-face {
  font-family: 'Goldman';
  src: url('./fonts/Goldman-Regular.ttf');
}

* {
  font-family: 'Goldman', monospace;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: whitesmoke;
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
